#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/* -------------------------------------------------------------------------
   CONFIGURATIONS DE LA SOURIS (MMV = Mouvement, MSC = Scroll)
   ------------------------------------------------------------------------- */

&mmv {
    x-input-code = <INPUT_REL_X>;
    y-input-code = <INPUT_REL_Y>;
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
};

&msc {
    x-input-code = <INPUT_REL_HWHEEL>;
    y-input-code = <INPUT_REL_WHEEL>;
    time-to-max-speed-ms = <0>; // On garde 0 pour le scroll instantané
    acceleration-exponent = <0>;
};

/* -------------------------------------------------------------------------
   DÉFINITION DU KEYMAP (Partie minimale pour compilation)
   ------------------------------------------------------------------------- */
/ {
    chosen {
        zmk,kscan = &kscan0;
    };
};
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // mettre les touches plus tard
                // On met des &none pour l'instant pour remplir les cases
                &none      &none      &none      &none
                &mkp LCLK  &mkp RCLK  &none      &none
            >;
        };
    };
};
