#include <dt-bindings/zmk/pointing.h>


&adc {
    status = "okay";
};

/ {
    joystick_scroll_listener: joystick_scroll_listener {
        compatible = "zmk,input-listener";
        device = <&joystick_scroll>;
    };

    joystick_scroll: joystick_scroll {
        compatible = "analog-axis";
        poll-period-ms = <10>;
        cursor-max-speed = <20>; // Vitesse beaucoup plus basse pour le scroll !

        axis_x {
            io-channels = <&adc 0>; // Axe Horizontal (scroll latéral)
            input-code = <6>; 
        };

        axis_y {
            io-channels = <&adc 1>; // Axe Vertical (scroll haut/bas)
            input-code = <8>;
        };
    };
};
