#include <dt-bindings/zmk/pointing.h>

&adc {
    status = "okay";
};

/ {
    /* Indispensable pour que ZMK sache où envoyer les données */
    chosen {
        zmk,kscan = &kscan0;
    };

    /* Matrice factice corrigée pour nice_nano_v2 */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        row-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; // Pin P0.06
        col-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;                   // Pin P0.08
    };

    joystick_scroll_listener: joystick_scroll_listener {
        compatible = "zmk,input-listener";
        device = <&joystick_scroll>;
    };

    joystick_scroll: joystick_scroll {
        compatible = "analog-axis";
        poll-period-ms = <10>;
        cursor-max-speed = <20>;

        axis_x {
            io-channels = <&adc 0>; 
            input-code = <6>;  // INPUT_REL_HWHEEL
        };

        axis_y {
            io-channels = <&adc 1>; 
            input-code = <8>;  // INPUT_REL_WHEEL
        };
    };
};
